*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #181A1B;
}

header{
    height: 50px;
    font-family: Helvetica;
}
.nav-list{
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background-color: #24292E;
}

.nav-item{
    float:right;
}

.nav-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-logo{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    float:left;
}

.nav-list .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    
    .nav-list li a.icon {
      float: right;
      display: block;
    }
}

@media screen and (max-width: 600px) {
    .nav-list.responsive {position: relative;}
    .nav-list.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .nav-list.responsive li a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  