*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    font-family: Helvetica;
}

/*Navigation*/
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #24292E;
    min-height: 8vh;
}

.logo{
    color: #f1faee;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-list{
    display: flex;
    justify-content: space-around;
    width: 33%;
}

.nav-list li{
    list-style: none;
}

.nav-list a{
    text-decoration: none;
    color: #f1faee;
    letter-spacing: 3px;
    font-size: 14px;
}

.nav-list a:hover{
    color: gray;
}

.burger{
    display: none;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: #f1faee;
    margin: 5px;
    transition: all 0.8s ease;
}

/*Navigation width increases once the width is less than 1100px*/
@media screen and (max-width:1100px){
    .nav-list{
        width: 50%;
    }
}

/*Hide the Navigation and display burger menu*/
@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }

    .nav-list{
        z-index: 100;
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        background-color: #1d3557;
        float: right;
    }

    .nav-list li{
        padding: 10%;
        opacity: 0;
        cursor: pointer;
    }

    .nav-list li:hover{
        color: white;
        text-align: center;
        width: 100%;
    }

    .nav-list a:focus{
        color: white;
    }

    .burger{
        display: block;
        cursor: pointer;
    }
}

.nav-active{
    transform: translateX(0%);
}

/*Used to create the illusion of the navigation words appearing in drop menu*/
@keyframes navListFade{
    from{
        opacity: 0;
        transition: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

/*Creates the illusion of the burger menu turning into an X*/
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

.content-placement {
    width: 66%;
    margin: auto;
    padding: 10px;
    height: 100%;
}

/*Intro*/
.intro{
    background-color: #edf2f4;
    height: 97vh;
}

#terminal{
    position: relative;
    height: 50vh;
    width: 70vh;
    background-color: black;
    margin: 150px auto;
    border-radius: 14px;
    box-shadow: 1px 2px 26px rgba(0, 0, 0, 0.3);
}

#terminal-header{
    position: absolute;
    height: 5vh;
    width: 100%;
    background: lightgray;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    left: 0px;
    top: 0px;
    right: 0px;
}

#terminal-header span{
    position: absolute;
    height: 2vh;
    width: 2vh;
    border-radius: 50%;
    box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.3);
}

#terminal-header span:nth-child(1){
    background-color: red;
    top: 1.5vh;
    left: 1vh;
}

#terminal-header span:nth-child(2){
    background-color: orange;
    top: 1.5vh;
    left: 4vh;
}

#terminal-header span:nth-child(3){
    background-color: green;
    top: 1.5vh;
    left: 7vh;
}

#terminal-body{
    position: absolute;
    top: 7vh;
    overflow: hidden;
}

#terminal-body p{
    font-family: "lato", sans-serif;
    color: rgb(21,206,67);
    font-size: 2vh;
    font-weight: 600;
    letter-spacing: 2px;
    margin-left: 1vh;
}

#terminal-txt{
    position: absolute;
    height: 3vh;
    width: 100%;
    background-color: black;
    top: 0;
    left: 0;
    animation: typewriter 10s ease-in-out 1 forwards;
}

#terminal-body p span{
    font-size: 2vh;
    animation: blink .4s ease-in infinite;
}

@keyframes typewriter{
    to{
        left: 20vh;
    }
}

@keyframes blink{
    0%{
        opacity: 0;
    }
    50%{
        opacity: .6;
    }
    100%{
        opacity: 1;
    }
}

/*Eperience and Timeline*/
#experience{
    background-color: #474E5D;
    height: 135vh;
}

#projects{
    background-color: #a8dadc;
    height: 100vh;
}

#contact{
    background-color: #1d3557;
    height: 100vh;
}

footer{
    background-color: black;
    height: 10vh;
}